.my_form {
  text-align: center;
}

.text_edit{
 text-align: center;
}
.edit{
 text-align: center;
 display: block;
}

.link_button {
text-align: center;

 }                                                                                                                                                                                                                                                                                                 